{% extends "base.html" %} 

{% block title %}Buscar usuario Agregar Indicadores{% endblock %}

{% block content %}
<h2 class="text-center mb-4">Agregar Indicadores</h2>
<form method="GET" action="{% url 'buscar_usuario_indicadores' %}" class="d-flex justify-content-center mb-4">
  <input type="text" name="q" class="form-control w-50" placeholder="Buscar por nombres o apellidos" value="{{ query_busqueda_usuario }}" pattern="[A-Za-zÀ-ÿ\s]+" title="Solo se permiten letras y espacios" />
  <button type="submit" class="btn btn-primary ms-2">Buscar</button>
</form>

<!-- Formulario de búsqueda por BP (máximo 7 números) -->
<form method="GET" action="{% url 'buscar_usuario_indicadores' %}" class="d-flex justify-content-center mb-4">
  <input type="text" name="bp" class="form-control w-50" placeholder="Buscar por BP (máx. 7 números)" value="{{ query_bp }}" maxlength="7" pattern="[0-9]{1,7}" title="Debe contener solo números (máx. 7)"/>
  <button type="submit" class="btn btn-success ms-2">Buscar</button>
</form>

<!-- Formulario de búsqueda por epr (máximo 6 números) -->
<form method="GET" action="{% url 'buscar_usuario_indicadores' %}" class="d-flex justify-content-center mb-4">
  <input type="text" name="epr" class="form-control w-50" placeholder="Buscar por epr (máx. 6 números)" value="{{ query_epr }}" maxlength="6" pattern="[0-9]{1,6}" title="Debe contener solo números (máx. 6)" />
  <button type="submit" class="btn btn-success ms-2">Buscar</button>
</form>
<div class="table-responsive" style="max-height: 400px; overflow-y: auto;"> 
  {% if usuarios_activos is not None and usuarios_activos %}
  <table class="table table-hover">
    <thead class="table-primary text-center">
      <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Email</th>
        <th>BP</th>
        <th>epr</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      {% for usuario in usuarios_activos %}
      <tr class="text-center">
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.apellido }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.bp }}</td>
        <td>{{usuario.epr}}</td>
        <td>
          <a href="{% url 'add_indicador' usuario.id_usuario  %}" class="btn btn-warning btn-sm">Agregar Indicador</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6" class="text-center text-muted">No se busca aun</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% elif usuarios_activos is not None %}
  <p class="text-center">No se encontraron usuarios.</p>
  {% endif %}
</div>

<!-- Tabla de indicadores registrados por el usuario en sesión -->
{% if indicadores_usuario %}
<h3 class="text-center mt-4">Indicadores Registrados por  {{ usuario_en_sesion.nombre }} {{ usuario_en_sesion.apellido }} </h3>
<div class="table-responsive">
  <table class="table table-hover">
    <thead class="table-secondary text-center">
      <tr>
        <th>Usuario</th>
        <th>Tipo</th>
        <th>Comentario</th>
        <th>Fecha de Creación</th>
        <th>Fecha de Inicio</th>
        <th>Fecha de Fin</th>
      </tr>
    </thead>
    <tbody>
      {% for indicador in indicadores_usuario %}
      <tr class="text-center">
        <td>{{ indicador.usuario_al_cual_registra.nombre }} {{ indicador.usuario_al_cual_registra.apellido }}</td>
        <td>{{ indicador.tipo_indicador }}</td>
        <td>{{ indicador.comentario }}</td>
        <td>{{ indicador.fecha_creacion }}</td>
        <td>{{indicador.fecha_inicio}}</td>
        <td>{{indicador.fecha_fin}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<p class="text-center text-muted">No has registrado indicadores aún.</p>
{% endif %}

<!-- Botón para regresar -->
<div class="d-flex justify-content-start mt-3">
  <a href="{% url 'dashboard_cargo_ojt' %}" class="btn btn-primary">
    <i class="bi bi-arrow-return-left me-2"></i> Regresar
  </a>
</div>

{% endblock %}