{% extends "base.html" %} 
{% block title %}Buscar Empleado{% endblock %} 
{% block content %}
<h1 class="text-center">Buscar Empleado</h1>

<!-- Formulario de búsqueda -->
<form
  method="GET"
  action="{% url 'buscar_empleado' %}"
  class="d-flex justify-content-center mb-4"
>
  <input
    type="text"
    name="q"
    class="form-control w-50"
    placeholder="Buscar por nombres o apellidos"
    value="{{ query_busqueda_empleado }}"
    pattern="[A-Za-zÀ-ÿ\s]+"
    title="Solo se permiten letras y espacios"
  />
  <button type="submit" class="btn btn-primary ms-2">Buscar</button>
</form>

<!-- Formulario de búsqueda por BP (máximo 7 números) -->
<form
  method="GET"
  action="{% url 'buscar_empleado' %}"
  class="d-flex justify-content-center mb-4"
>
  <input
    type="text"
    name="bp"
    class="form-control w-50"
    placeholder="Buscar por BP (máx. 7 números)"
    value="{{ query_bp }}"
    maxlength="7"
    pattern="[0-9]{1,7}"
    title="Debe contener solo números (máx. 7)"
  />
  <button type="submit" class="btn btn-success ms-2">Buscar</button>
</form>

<!-- Lista de Empleados Busqueda -->
{% if empleados %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>BP</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    {% for empleado in empleados %}
    <tr>
      <td>{{empleado.nombre}}</td>
      <td>{{empleado.apellido}}</td>
      <td>{{empleado.email}}</td>
      <td>{{empleado.bp}}</td>
      <td>
        <a
          href="{% url 'evaluar_empleado' empleado.id_usuario 'Teórica' %}"
          class="btn btn-info btn-sm"
          >Teórica</a
        >
        <a
          href="{% url 'evaluar_empleado' empleado.id_usuario 'Práctica' %}"
          class="btn btn-warning btn-sm"
          >Práctica</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="text-center">No se encontraron empleados.</p>
{% endif %}

<!-- Botón para regresar -->
<div class="d-flex justify-content-start mt-3">
  <a href="{% url 'dashboard_rol_ojt' %}" class="btn btn-primary">
    <i class="bi bi-arrow-return-left me-2"></i> Regresar
  </a>
</div>
{% endblock %}
