{% extends "base.html" %}

{% block title %}Eventos{% endblock %} 


{% block content %}
    <h2 class="text-center my-4">Eventos Registrados</h2>
    <div class="d-flex justify-content-end">
        <a href="{% url 'add_eventos' %}" class="btn btn-success mb-3 d-flex align-items-center justify-content-center"  style="width: 200px; height: 50px;">
            <i class="bi bi-plus-circle me-2"></i>Agregar Evento</a>
    </div>
    <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
        <table class="table table-hover">
            <thead class="table-primary text-center">
                <tr>
                    <th>#</th>
                    <th>Fecha del Evento</th>
                    <th>Código del Vuelo</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>LIR</th>
                    <th>PAX</th>
                    <th>Tipo de Evento</th>
                    <th>Motivo</th>
                    <th>Plan de Accion</th>
                    <th>Involucrado</th>
                    <th>acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for evento in total_eventos %}
                <tr class="text-center">
                    <td> {{forloop.counter}} </td>
                    <td> {{evento.fecha_evento}} </td>
                    <td> {{evento.vuelo.codigo_del_vuelo}} </td>
                    <td> {{evento.vuelo.origen_vuelo.estacion_aeropuerto}} </td>
                    <td> {{evento.vuelo.destino_vuelo.estacion_aeropuerto}} </td>
                    <td> {{evento.evento_lir}} </td>
                    <td> {{evento.evento_pax}} </td>
                    <td> {{evento.tipo_evento}} </td>
                    <td> {{evento.motivo}} </td>
                    <td> {{evento.plan_de_accion}} </td>
                    <td> {{evento.usuario_involucrado.nombre}} {{evento.usuario_involucrado.apellido}} </td>
                    <td>  </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center text-muted">No hay atrasos registrados</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="d-flex justify-content-start mb-3">
        <a href="{% url 'dashboard_general' %}" class="btn btn-primary">
            <i class="bi bi-arrow-return-left me-2"></i> Regresar al Dashboard Principal
        </a>
    </div>
{% endblock %}