{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Administrar</h1>
<div class="d-flex flex-column align-items-center gap-3">
    <h1>BIENVENIDO OJT</h1>
    <!-- <a href="{% url 'dashboard_aeropuertos'%}" class="btn btn-primary d-flex align-items-center justify-content-center"  style="width: 200px; height: 50px;">
        <i class="bi bi-airplane-engines-fill me-2"></i>Aeropuertos</a>
    <a href="{% url 'dashboard_usuarios'%}" class="btn btn-primary d-flex align-items-center justify-content-center" style="width: 200px; height: 50px;">
        <i class="bi bi-people-fill me-2"></i>Usuarios
    </a> -->
</div>
{% endblock %}