{% extends "base.html" %}

{% block title %}Accesos{% endblock %}

{% block content %} 
<h3>Bienvenido {{usuario_nombre}} | Rol: {{ usuario_rol }} </h3>
<div class="d-flex flex-column align-items-center gap-3">
    <a href="{% url 'buscar_usuario_accesos' %}" class="btn btn-primary d-flex align-items-center justify-content-center"  style="width: 200px; height: 50px;">
        <i class="bi bi-person-raised-hand me-2"></i>Averiguar Accesos</a>
    <a href="{% url 'add_accesos_usuarios' %}" class="btn btn-primary d-flex align-items-center justify-content-center" style="width: 200px; height: 50px;">
        <i class="bi bi-person-plus-fill me-2"></i>Registrar un Acceso
    </a>
    <a href="{% url 'add_calificacion_guia' %}" class="btn btn-primary d-flex align-items-center justify-content-center" style="width: 200px; height: 50px;">
        <i class="bi bi-person-plus-fill me-2"></i>Calificar Guías
    </a>
</div>

{% endblock %}